.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  margin: 0;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.form label,
.form fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type='number'] {
  padding: 8px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

fieldset {
  border: 2px solid #aaa;
  border-radius: 8px;
  padding: 10px;
}

legend {
  padding: 0 5px;
  font-weight: bold;
}

button[type='submit'] {
  padding: 12px;
  font-size: 16px;
  background-color: #eee;
  border: 2px solid #aaa;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type='submit']:hover {
  background-color: #ddd;
}
